.container {
    display: flex;

    @media screen and (max-width: 1100px) {
        flex-direction: column-reverse;
    }
}

.content {
    flex: 1;
}

.tocWrapper {
    position: relative;

    @media screen and (min-width: 1099px) {
        flex-basis: 240px;
    }
}

.toc {
    padding-top: 15px;

    @media screen and (min-width: 1099px) {
        position: sticky;
        top: 70px;
    }
}
